#parent {
  height: 600px;
  width: 400px;
  background-color: blue;
  position: absolute;
}

#child1 {
  height: 600px;
  width: 50px;
  background-color: red;
  position: absolute;
  left: 50px;

}

#child2 {
  height: 50px;
  width: 400px;
  background-color: red;
  position: absolute;
  top: 150px;

}